.example-form {
  min-width: 150px;
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
}

.example-full-width {
  width: 80%;
}

.checkbox-full-width {
  width: 80%;
  margin-bottom: 15px;
}

.button {
  margin: 35px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-check-box {
  width: 100%;
  margin: 0 23px;
}

.example-radio-button {
  margin: 5px;
}